[Service]
Description=Apache Tomcat 8.5
Documentation=https://tomcat.apache.org/tomcat-8.5-doc/
After=network-online.target

[Service]
Type=forking

User={{ usuario }}
Group={{ grupo }}

ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target